body {
    margin: 0;
    background-color: gray;
    padding: 40px;
}
.container{
    background-color: white;
    display: flex;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
}

.card {
    border: 2px solid black;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 40px;
}

.food{
    text-align: center;
}